.box {
    position: relative;
    height: 250px;
    width: 300px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 120px;
}

.box img {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    border: 10px solid #EAC117;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes sample {
    from {
        height: 70px
    }

    to {
        height: 120px
    }
}

@keyframes sample2 {
    from {
        height: 120px
    }

    to {
        heigh: 70px
    }
}

.description:hover {
    animation-name: sample;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.description {
    position: absolute;
    top: 200px;
    height: 70px;
    width: 270px;
    padding: 10px;
    background-color: #EAC117;
    text-align: left;
    cursor: pointer;
    left: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    border-radius: 5px;
    animation-name: sample2;
    animation-duration: 1s;
    animation-fill-mode: both;
    overflow: hidden;
}

.description p {
    line-height: 22px;
}

.description .price {
    font-size: 15px;
    float: right;
    position: absolute;
    top: 70px;
    left: 160px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: #EAC117;
    width: 80px;
}

.project-address {
    font-size: 15px;
}

.footer {
    margin-top: 100px;
}

@media screen and (max-width:480px) {

    .previous {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 90px;
    }

    .description {
        height: 120px;
        font-size: 1.2em;
        animation-name: none;
    }

    .description:hover {
        animation-name: none;
    }

    .footer {
        margin-top: 100px;
    }

}